Here are the rules you shall obey in this mud.

1. You may have multiple characters, BUT, you can only play one of them at
   the same time. If any wizard find you are playing two or more characters,
   one of them will be demoted ( i.e. deleted forever).

2. If you find any bug, you should report it immediatly. Any benefit or
   damage caused by the bug shall be restored.  Once we find you had been
   abusing a bug intentionally, you will be demoted.

3. Don't keep harassing other players. If you are accused by other players
   of harassing and fail to give an acceptable reason, you will be banished
   for some days. Although player killing is allowed here, never kill others
   in the same guild as you. You may be demoted if you do.

4. Use of client programs(ie. tintin) are NOT allowed in ES. These types of
   programs eats up considerable amount of net resource unknowingly. ES
   provides a powerful and readily avalible "alias" and "nickname" commands.
   If any dispute such as robot occurs, the side with client programs will
   not be granted any rights. If a wiz finds out about usage of such programs,
   the user will be penalized(deleted or banished).

5. Based on Role-Playing basics, we do NOT encourage the sharing or trading
   of passwords or characters. You should be reponsible for your own
   character(s), and we delete any "shared" characters.

 --Well, that's all. Hope you have fun here.
   Modified by Platino based on Kyoko's version , Mar-16,94.
